:root {
  /* Colors */
  --primary-color:#5E56E7 !important;
  --secondary-color: #f8f7ff;

  /* Greys */
  --grey-light: #f0f0f6;
  --grey-medium: #a0a0a0;
  --grey-dark: #333333;

  /* Fonts */
  --font-family: "Montserrat", sans-serif;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
}

/* Typography */
h1 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi-bold);
  font-size: 48px;
  color: var(--primary-color);
}

h2 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi-bold);
  font-size: 30px;
  color: var(--grey-dark);
}

.genre-card {
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
  display: flex;
  justify-content: center;
}

.genre-card-body {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.genre-icon {
  margin-right: 15px; /* Adjust the margin as needed */
  width: 30px; /* Set a fixed width for the icon */
  height: 30px; /* Set a fixed height for the icon */
  display: flex;
  align-items: center;
  justify-content: center;
}

.genre-icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures the image fits within the div */
}

.genre-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /* Semi Bold */
  color: #333333; /* Dark Grey for text */
}

.genre-arrow {
  color: #5e56e7; /* Primary color */
  font-size: 1.5rem; /* Adjust the size as needed */
}



.search-box {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: var(--grey-dark);
  border-radius: 4px;
  padding: 0 10px;
  height: 40px;
  background-color: var(--grey-light);
  border: 1px solid var(--grey-medium);
}

.search-box:focus {
  outline: none;
  border-color: var(--primary-color);
}



.rectangle {
  width: 114px;
  height: 162px;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
  padding: 0;
  margin: 0;
 
}

.book-cover {
  width: 100%;
  height: 162px; /* Set a fixed height */
  border-radius: 8px !important;
  overflow: hidden;
  object-fit: cover; /* Cover the container */
}

.book-title {
  font-size: 12px; /* Adjust font size as needed */
  color: black;
}

.book-author {
  font-size: 12px; /* Adjust font size as needed */

}

